@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Raleway:wght@300;400;500;600;700&display=swap');

$brand: #df2132;
$text: #2D2D2D;
$light: #EFF2F1;

$text-ff: "Raleway", sans-serif;
$number-ff: "Kanit", sans-serif;
